<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="wrapper">
        <div class="content">
            <p><h2>서비스 지역을 선택해주세요</h2></p>
            <!--    <ol>-->
            <!--        <li><a href="product/list.html" th:href="@{/question_list.html}">서울</a></li>-->
            <!--        <li><a href="product/list.html" th:href="@{/question_list.html}">경기</a></li>-->
            <!--        <li><a href="product/list.html" th:href="@{/question_list.html}">부산</a></li>-->
            <!--        <li><a href="product/list.html" th:href="@{/question_list.html}">대구</a></li>-->
            <!--    </ol>-->
            <br>

            <table>
                <tbody>
                <tr>
                    <td><a href="product/list.html" th:href="@{/question/list}">서울</a></td>
                    <td><a href="product/list.html" th:href="@{/question/list}">경기</a></td>
                </tr>
                <tr>
                    <td><a href="product/list.html" th:href="@{/question/list}">부산</a></td>
                    <td><a href="product/list.html" th:href="@{/question/list}">대구</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>