<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h2>현재 개발중입니다.</h2>
    <h4>내 정보를 표시할 예정입니다.</h4>
    <form>
        <table class="table">
            <thead>
            <tr class="text-start">
                <th>이름</th>
                <td><span th:text="${siteUser.username}"></span></td>
            </tr>
            <tr class="text-start">
                <th>이메일</th>
                <td><span th:text="${siteUser.email}"></span></td>
            </tr>
            </thead>
        </table>

        <!--            나의 정보 상태-->
        <!--            구인 구직 상태-->

    </form>

</div>
</html>